@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Teko:wght@300&display=swap');

*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    background-color: #7c7a7a;
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem 1rem 0 0 ;
}

.header__title{
    font-family: 'Teko', sans-serif;
    font-size: 38px; 
    color: #FDFEFE;
}

.header__figure img{
    margin-left: 20px; 
    margin-right: 10px;
}

.main{
    padding: 2rem;
    background-color: #BBBBBB;
}

.section__pokemon-name{
    display: flex;
    align-items: center;
    padding-block: 2rem;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    background-color: #F6F6F6;
    font-size: 1.5rem;
}

.section__pokemon-name img{
    width: 100%;
    max-width: 2rem;
}

.section{
    display: grid;
    grid-template-columns: 1fr .6fr;
    gap: 2rem;
}

.section__pokemon{
    border-radius: 1rem;
    text-transform: uppercase; 
}

.section__pokemon-title{
    text-align: center;
}

.section__img img{
    width: 100%;
    max-width: 28rem;
    filter: brightness(0);
}

.section__img{
    display: flex;
    justify-content: center; 
}

.section__information{
    border-radius: 1rem;
    background-color: #F6F6F6;
    box-shadow: 0 0 3rem  -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase; 
}

.section__information span{
    font-family: 'Teko', sans-serif;
    font-size: 1.6rem;
    float: left;
    width: 50%;
    padding: 2.5rem;
    text-align: center;
}

.section__information p{
    font-family: 'Asap', sans-serif;
}

.footer{
    padding: 2rem;
    display: inline-flex;
    justify-content: space-evenly;
    background-color: #FDFEFE;
    border-radius: 0 0 1.2rem 1.2rem;
    align-items: center;
}

.footer__text{
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.footer img{
    width: 100%;
    height: auto;
    filter: brightness(0);
}

.footer figure:hover{
    background-color: #7c7a7a;
}

.footer_figure{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 10%;
    background-color: #BBBBBB;
}

@media screen and (max-width: 629px) {
    .section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -8rem;
    }

    .footer_figure{
        height: 50%;
    }

    .section__pokemon {
        width: 280px;
        margin: 0px 0px;
        transform: translateY(142px);
    }
}